@page
@model ITGuru.FourWheels.Web.Pages.Administration.SearchPageModel
@using ITGuru.FourWheels.Web.Enums;

<div>
    <div class="row mb-2">
        @if (TempData.Peek("Message") != null)
        {
            Model.Message = TempData["Message"].ToString();
            Model.MessageStatus = (MessageStatus)TempData["MessageStatus"];

            @if (Model.MessageStatus == MessageStatus.Success)
            {
                <div class="alert alert-success rounded col-md-12 text-center" role="alert" id="PopupBox">@Model.Message</div>
            }
            else if (Model.MessageStatus == MessageStatus.Failed)
            {
                <div class="alert alert-danger rounded col-md-12 text-center" role="alert" id="PopupBox">@Model.Message</div>
            }            
        }
    </div>
    <h3 class="text-center">List of Customers:</h3>
    <div class="row mb-2">
        <div class="col-10">
            <input class="form-control" type="text" id="SearchInput" onkeyup="Search()" placeholder="Search for names..">
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createCustomer"><i class="fa-solid fa-plus"></i> New customer</button>
        </div>
    </div>
    <div>
        <table class="table table-striped" id="SearchTable">
            <tr class="header">
                <th class="col-4">Name</th>
                <th class="col-2">Phone</th>
                <th class="col-4">Email</th>
                <th class="col-2">Options</th>
            </tr>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td><a asp-page="/Administration/Vehicle/CustomerVehicles" asp-route-CustomerId="@customer.Id">@customer.FirstName @customer.LastName</a></td>
                    <td>@customer.Phone</td>
                    <td>@customer.Email</td>
                    <td>
                        <div class="row">
                            <div class="col-6">
                                <a class="btn btn-warning" asp-page="/Administration/Customer/UpdateCustomer" asp-route-CustomerId="@customer.Id"><i class="fa-solid fa-pen-to-square"></i>Update</a>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-danger" asp-page="/Administration/Customer/DeleteCustomer" asp-route-CustomerId="@customer.Id" ><i class="fa-solid fa-trash"></i>Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- #region Modals -->
<form method="post" asp-page-handler="CreateCustomer" id="createForm">
    <div class="modal fade" id="createCustomer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createCustomerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCustomerLabel">Create a new Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @{
                    // TODO: Modal stays open if validation is invalid.
                }
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>First name:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" asp-for="@Model.Customer.FirstName" type="text" placeholder="Enter customers first name..." />
                            <span class="text-danger" asp-validation-for="@Model.Customer.FirstName"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Last name:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" asp-for="@Model.Customer.LastName" type="text" placeholder="Enter customers last name..." />
                            <span class="text-danger" asp-validation-for="@Model.Customer.LastName"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Phone:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" asp-for="@Model.Customer.Phone" type="text" placeholder="Enter customers phone number..." />
                            <span class="text-danger" asp-validation-for="@Model.Customer.Phone"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Email:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" asp-for="@Model.Customer.Email" type="text" placeholder="Enter customers email..." />
                            <span class="text-danger" asp-validation-for="@Model.Customer.Email"></span>
                        </div>
                    </div>
                    <h5 class="modal-title">Vehicle information:</h5>
                    <hr />
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>License plate:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" asp-for="@Model.Vehicle.LicensePlate" type="text" placeholder="Enter vehicle's license plate..." />
                            <span class="text-danger" asp-validation-for="@Model.Vehicle.LicensePlate"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Brand:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" asp-for="@Model.Vehicle.Brand" type="text" placeholder="Enter vehicle's brand..." />
                            <span class="text-danger" asp-validation-for="@Model.Vehicle.Brand"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Model:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" asp-for="@Model.Vehicle.Model" type="text" placeholder="Enter vehicle's model..." />
                            <span class="text-danger" asp-validation-for="@Model.Vehicle.Model"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="btnCreate">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- #endregion -->

@section Scripts{
    <script src="~/js/SearchPageScript.js"></script>
}
