@page
@model ITGuru.FourWheels.Web.Pages.Administration.SearchPageModel

<div>
    <div class="row">
        <div class="col-8">
            <input class="form-control" type="text" id="SearchInput" onkeyup="Search()" placeholder="Search for names..">
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-plus"></i> New customer</button>
        </div>
    </div>
    <div>
        <table class="table table-striped" id="SearchTable">
            <tr class="header">
                <th class="col-1">#</th>
                <th class="col-4">Name</th>
                <th class="col-2">Phone</th>
                <th class="col-3">Email</th>
                <th class="col-2">Options</th>
            </tr>
            @foreach (object customer in Model.Customers)
            {
                //TODO: Implement Customer object
                <tr>
                    <td>@customer.ToString()</td>
                    <td>@customer.ToString()</td>
                    <td>@customer.ToString()</td>
                    <td>@customer.ToString()</td>
                    <td>
                        @{
                            //TODO: Implement Button functions for Edit & Delete Customer
                        }
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateCustomer"><i class="fa-solid fa-pen-to-square"></i>Update</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCustomer"><i class="fa-solid fa-trash"></i>Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- #region Modals -->
<form method="post" asp-page-handler="CreateCustomer">
    <div class="modal fade" id="createCustomer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createCustomerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCustomerLabel">Create a new Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @{
                    // TODO: Out comment the asp-validation-for and asp-for below.
                    // TODO: Test that the modal doesn't close if the validation isn't valid (see JS).
                }
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>First name:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" @*asp-for="@Model.Customer.FirstName"*@ type="text" placeholder="Enter customers first name..." />
                            <br />
                            @*<span asp-validation-for="@Model.Customer.FirstName" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Last name:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" @*asp-for="@Model.Customer.LastName"*@ type="text" placeholder="Enter customers last name..." />
                            <br />
                            @*<span asp-validation-for="@Model.Customer.LastName" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Phone:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" @*asp-for="@Model.Customer.Phone"*@ type="text" placeholder="Enter customers phone number..." />
                            <br />
                            @*<span asp-validation-for="@Model.Customer.Phone" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Email:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" @*asp-for="@Model.Customer.Email"*@ type="text" placeholder="Enter customers email..." />
                            <br />
                            @*<span asp-validation-for="@Model.Customer.Email" class="text-danger"></span>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="btnCreate">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-page-handler="UpdateCustomer">
    <div class="modal fade" id="updateCustomer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateCustomerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateCustomerLabel">Editing @*@Model.Customer.FirstName*@</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @{
                    // TODO: Out comment the asp-validation-for and asp-for below.
                    // TODO: Test that the modal doesn't close if the validation isn't valid (see JS).
                }
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>First name:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" @*asp-for="@Model.Customer.FirstName"*@ type="text" @*placeholder="@Model.Customer.FirstName"*@ />
                            <br />
                            @*<span asp-validation-for="@Model.Customer.FirstName" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Last name:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" @*asp-for="@Model.Customer.LastName"*@ type="text" @*placeholder="@Model.Customer.LastName"*@ />
                            <br />
                            @*<span asp-validation-for="@Model.Customer.LastName" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Phone:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" @*asp-for="@Model.Customer.Phone"*@ type="text" @*placeholder="@Model.Customer.Phone"*@ />
                            <br />
                            @*<span asp-validation-for="@Model.Customer.Phone" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Email:</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" @*asp-for="@Model.Customer.Email"*@ type="text" @*placeholder="@Model.Customer.Email"*@ />
                            <br />
                            @*<span asp-validation-for="@Model.Customer.Email" class="text-danger"></span>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-warning" id="btnUpdate">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-page-handler="DeleteCustomer">
    <div class="modal fade" id="deleteCustomer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteCustomerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCustomerLabel">
                        Delete @*@Model.Customer.FirstName @Model.Customer.LastName*@
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @{
                    // TODO: Out comment the asp-validation-for and asp-for below.
                    // TODO: Test that the modal doesn't close if the validation isn't valid (see JS).
                }
                <div class="modal-body">
                    <div class="row mb-2">
                        <p>Are you sure you want to delete @*@Model.Customer.FirstName @Model.Customer.LastName*@ from the list?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" id="btnDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- #endregion -->
@section Scripts{
    <script src="~/js/SearchPageScript.js"></script>
}
