@page "{VehicleId}"
@model ITGuru.FourWheels.Web.Pages.Administration.Vehicle.DeleteVehicleModel

<div class="container">
    <h3 class="text-center">You are about to delete: @Model.Vehicle.Brand @Model.Vehicle.Model</b></h3>
    <div class="row">
        <div class="col-3"></div>
        <form method="post" class="card border col-6">
            <div class="" id="deleteCustomer" aria-hidden="true">
                <input type="hidden" asp-for="@Model.Vehicle.Id" />
                <input type="hidden" asp-for="@Model.Vehicle.CustomerId" />
                <div class="">
                    <div class="mt-4">
                        <div class="">
                            <h5 class="" id="deleteCustomerLabel">
                                Delete @Model.Vehicle.Brand @Model.Vehicle.Model
                            </h5>
                        </div>
                        <div class="">
                            <div class="row mb-2">
                                <p>Are you sure you want to delete @Model.Vehicle.Brand @Model.Vehicle.Model with License Plate: (@Model.Vehicle.LicensePlate) from the list?</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="d-flex flex-row justify-content-center">
                                <div class="me-4">
                                    <button type="submit" class="btn btn-danger" id="btnDelete">Delete</button>
                                </div>
                                <div class="ms-4">
                                    <a asp-page="/Administration/Vehicle/CustomerVehicles" asp-route-CustomerId="@Model.Vehicle.CustomerId" class="btn btn-success">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@{
}
