@page "{VehicleId}"
@model ITGuru.FourWheels.Web.Pages.Administration.Vehicle.UpdateVehicleModel
@{
}

<div class="container">
    <h3 class="text-center">You are about to edit: <b>@Model.Vehicle.LicensePlate</b></h3>
    <div class="row">
        <div class="col-md-3"></div>
        <form method="post" class="card border col-md-6 form-bg-color">
            <input type="hidden" asp-for="@Model.Vehicle.Id" />
            <input type="hidden" asp-for="@Model.Vehicle.CustomerId" />
            <div class="row">
                <div>
                    <div class="input-group mt-4">
                        <div class="input-group-prepend col-md-3">
                            <span class="input-group-text">License plate: </span>
                        </div>
                        <input type="text" asp-for="@Model.Vehicle.LicensePlate" class="form-control col-md-9" placeholder="@Model.Vehicle.LicensePlate" />
                        <br />
                        <span class="text-danger" asp-validation-for="@Model.Vehicle.LicensePlate"></span>
                    </div>
                </div>
                <div>
                    <div class="input-group mt-4">
                        <div class="input-group-prepend col-md-3">
                            <span class="input-group-text">Brand: </span>
                        </div>
                        <input type="text" asp-for="@Model.Vehicle.Brand" class="form-control col-md-9" placeholder="@Model.Vehicle.Brand" />
                        <br />
                        <span class="text-danger" asp-validation-for="@Model.Vehicle.Brand"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div>
                    <div class="input-group mt-4">
                        <div class="input-group-prepend col-md-3">
                            <span class="input-group-text">Model: </span>
                        </div>
                        <input type="text" asp-for="@Model.Vehicle.Model" class="form-control col-md-9" placeholder="@Model.Vehicle" />
                        <br />
                        <span class="text-danger" asp-validation-for="@Model.Vehicle.Model"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <hr />
            </div>
            <div class="row mb-3">
                <div class="d-flex flex-row justify-content-center">
                    <div class="me-4">
                        <button type="submit" name="editVehicle" class="btn btn-success" value="true">Edit Vehicle</button>
                    </div>
                    <div class="ms-4">
                        <a class="btn btn-warning" asp-route-CustomerId="@Model.Vehicle.CustomerId" asp-page="/Administration/Vehicle/CustomerVehicles">Return</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>